.red{
    padding: 15px 35px;
    margin-bottom: 50px;
    border: 1px solid var(--color-primary-variant);
    border-radius: 30px;
    font-size: 30px;
    color: red;
}
.red:hover{
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}
